<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Server=JEGOR\SQLUNED;Database=TIENDAUNED;User Id=sa;Password=Tekkentag3@;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

<!-- Configuraciones del servidor -->
    <appSettings>
        <add key="ServidorIP" value="127.0.0.1"/>
        <add key="ServidorPuerto" value="14100"/>
    </appSettings>

</configuration>